<div class="fixed top-0 left-0 w-full h-[50px]">
  <div class="flex items-center justify-between h-full px-3">
    <ng-icon name="lucideMenu" class="text-3xl text-white cursor-pointer" />
    <div class="flex items-center gap-x-2">
      <img src="assets/icons/protocolo-360.svg" alt="Protocolo 360" class="w-6" />
      <p class="font-bold text-xl" i18n="@@appName">Protocolo 360</p>
    </div>
    <hlm-avatar>
      <span hlmAvatarFallback>NL</span>
      <hlm-avatar-badge class="bg-primary" />
    </hlm-avatar>
  </div>
</div>
